.profile-header {
  margin-top: 10px;
  margin-bottom: 20px;
}

.profile-body {
  width: 100%;
  box-shadow: 2px 2px 5px 2px #b3b1b1;
  padding-block: 5px;
}

.profile-body li {
  list-style-type: none;
  margin-block: 30px;
}
